body{
    padding-top: 70px;
    color: black;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15% 5%;
}

.section h1{
    display: flex;
    align-items: baseline;
}

.section .about_me_article{
    display: flex;
    align-items: baseline;
    text-align: left;
}

.slide{
    padding: 0 5%;
}

.slide h2{
    font-size: 3rem;
}

.navbar{
    color: white;
    opacity: 100%;
}

.navbar-brand{
    color: white;
}

.nav-link{
    color: white;
}